In [1]:
import numpy as np
import pandas as pd

In [2]:
dfTrain = pd.read_csv('properties_2016.csv')

/home/cjfong/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
dfTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2985217 entries, 0 to 2985216
Data columns (total 58 columns):
parcelid                        int64
airconditioningtypeid           float64
architecturalstyletypeid        float64
basementsqft                    float64
bathroomcnt                     float64
bedroomcnt                      float64
buildingclasstypeid             float64
buildingqualitytypeid           float64
calculatedbathnbr               float64
decktypeid                      float64
finishedfloor1squarefeet        float64
calculatedfinishedsquarefeet    float64
finishedsquarefeet12            float64
finishedsquarefeet13            float64
finishedsquarefeet15            float64
finishedsquarefeet50            float64
finishedsquarefeet6             float64
fips                            float64
fireplacecnt                    float64
fullbathcnt                     float64
garagecarcnt                    float64
garagetotalsqft                 float64
hashottuborspa                  object
heatingorsystemtypeid           float64
latitude                        float64
longitude                       float64
lotsizesquarefeet               float64
poolcnt                         float64
poolsizesum                     float64
pooltypeid10                    float64
pooltypeid2                     float64
pooltypeid7                     float64
propertycountylandusecode       object
propertylandusetypeid           float64
propertyzoningdesc              object
rawcensustractandblock          float64
regionidcity                    float64
regionidcounty                  float64
regionidneighborhood            float64
regionidzip                     float64
roomcnt                         float64
storytypeid                     float64
threequarterbathnbr             float64
typeconstructiontypeid          float64
unitcnt                         float64
yardbuildingsqft17              float64
yardbuildingsqft26              float64
yearbuilt                       float64
numberofstories                 float64
fireplaceflag                   object
structuretaxvaluedollarcnt      float64
taxvaluedollarcnt               float64
assessmentyear                  float64
landtaxvaluedollarcnt           float64
taxamount                       float64
taxdelinquencyflag              object
taxdelinquencyyear              float64
censustractandblock             float64
dtypes: float64(52), int64(1), object(5)
memory usage: 1.3+ GB

In [4]:
dfTrain.describe()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,yardbuildingsqft26,yearbuilt,numberofstories,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock
count,2.985217e+06,811519.000000,6061.000000,1628.000000,2.973755e+06,2.973767e+06,12629.000000,1.938488e+06,2.856305e+06,17096.0,...,2647.000000,2.925289e+06,682069.000000,2.930235e+06,2.942667e+06,2.973778e+06,2.917484e+06,2.953967e+06,56464.000000,2.910091e+06
mean,1.332586e+07,1.931166,7.202607,646.883292,2.209143e+00,3.088949e+00,3.725948,5.784787e+00,2.299263e+00,66.0,...,278.296562,1.964262e+03,1.401464,1.708836e+05,4.204790e+05,2.014999e+03,2.524780e+05,5.377607e+03,13.892409,6.048431e+13
std,7.909966e+06,3.148587,2.436290,538.793473,1.077754e+00,1.275859e+00,0.501700,1.805352e+00,1.000736e+00,0.0,...,369.731508,2.344132e+01,0.539076,4.020683e+05,7.263467e+05,3.683161e-02,4.450132e+05,9.183107e+03,2.581006,3.249035e+11
min,1.071172e+07,1.000000,2.000000,20.000000,0.000000e+00,0.000000e+00,1.000000,1.000000e+00,1.000000e+00,66.0,...,10.000000,1.801000e+03,1.000000,1.000000e+00,1.000000e+00,2.000000e+03,1.000000e+00,1.340000e+00,0.000000,-1.000000e+00
25%,1.164371e+07,1.000000,7.000000,272.000000,2.000000e+00,2.000000e+00,3.000000,4.000000e+00,2.000000e+00,66.0,...,96.000000,1.950000e+03,1.000000,7.480000e+04,1.796750e+05,2.015000e+03,7.483600e+04,2.461070e+03,14.000000,6.037400e+13
50%,1.254509e+07,1.000000,7.000000,534.000000,2.000000e+00,3.000000e+00,4.000000,7.000000e+00,2.000000e+00,66.0,...,168.000000,1.963000e+03,1.000000,1.225900e+05,3.060860e+05,2.015000e+03,1.670420e+05,3.991780e+03,14.000000,6.037572e+13
75%,1.409712e+07,1.000000,7.000000,847.250000,3.000000e+00,4.000000e+00,4.000000,7.000000e+00,3.000000e+00,66.0,...,320.000000,1.981000e+03,2.000000,1.968890e+05,4.880000e+05,2.015000e+03,3.069180e+05,6.201005e+03,15.000000,6.059042e+13
max,1.696019e+08,13.000000,27.000000,8516.000000,2.000000e+01,2.000000e+01,5.000000,1.200000e+01,2.000000e+01,66.0,...,6141.000000,2.015000e+03,41.000000,2.514860e+08,2.827860e+08,2.016000e+03,9.024622e+07,3.458861e+06,99.000000,4.830301e+14

In [5]:
dfTrain.head(1)

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015.0,9.0,NaN,NaN,NaN,NaN

In [6]:
dfTrain.tail()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
2985212,168176230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985213,14273630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985214,168040630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985215,168040830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2985216,168040430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
dfTrain2 = pd.read_csv('train_2016.csv')

In [11]:
dfTrain2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90811 entries, 0 to 90810
Data columns (total 3 columns):
parcelid           90811 non-null int64
logerror           90811 non-null float64
transactiondate    90811 non-null object
dtypes: float64(1), int64(1), object(1)
memory usage: 2.1+ MB

In [37]:
dfMerged2 = pd.merge(dfTrain, dfTrain2, on = "parcelid")

In [12]:
dfTrain2.transactiondate

0        2016-01-01
1        2016-01-01
2        2016-01-01
3        2016-01-02
4        2016-01-02
5        2016-01-02
6        2016-01-02
7        2016-01-02
8        2016-01-02
9        2016-01-03
10       2016-01-03
11       2016-01-03
12       2016-01-03
13       2016-01-03
14       2016-01-03
15       2016-01-03
16       2016-01-03
17       2016-01-03
18       2016-01-03
19       2016-01-03
20       2016-01-03
21       2016-01-03
22       2016-01-03
23       2016-01-03
24       2016-01-03
25       2016-01-03
26       2016-01-03
27       2016-01-03
28       2016-01-03
29       2016-01-03
            ...
90781    2016-12-30
90782    2016-12-30
90783    2016-12-30
90784    2016-12-30
90785    2016-12-30
90786    2016-12-30
90787    2016-12-30
90788    2016-12-30
90789    2016-12-30
90790    2016-12-30
90791    2016-12-30
90792    2016-12-30
90793    2016-12-30
90794    2016-12-30
90795    2016-12-30
90796    2016-12-30
90797    2016-12-30
90798    2016-12-30
90799    2016-12-30
90800    2016-12-30
90801    2016-12-30
90802    2016-12-30
90803    2016-12-30
90804    2016-12-30
90805    2016-12-30
90806    2016-12-30
90807    2016-12-30
90808    2016-12-30
90809    2016-12-30
90810    2016-12-30
Name: transactiondate, dtype: object

In [14]:
dfMerged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90811 entries, 0 to 90810
Data columns (total 60 columns):
parcelid                        90811 non-null int64
airconditioningtypeid           28781 non-null float64
architecturalstyletypeid        261 non-null float64
basementsqft                    43 non-null float64
bathroomcnt                     90275 non-null float64
bedroomcnt                      90275 non-null float64
buildingclasstypeid             16 non-null float64
buildingqualitytypeid           57364 non-null float64
calculatedbathnbr               89093 non-null float64
decktypeid                      658 non-null float64
finishedfloor1squarefeet        6856 non-null float64
calculatedfinishedsquarefeet    89614 non-null float64
finishedsquarefeet12            85596 non-null float64
finishedsquarefeet13            33 non-null float64
finishedsquarefeet15            3564 non-null float64
finishedsquarefeet50            6856 non-null float64
finishedsquarefeet6             421 non-null float64
fips                            90275 non-null float64
fireplacecnt                    9607 non-null float64
fullbathcnt                     89093 non-null float64
garagecarcnt                    29937 non-null float64
garagetotalsqft                 29937 non-null float64
hashottuborspa                  2365 non-null object
heatingorsystemtypeid           56080 non-null float64
latitude                        90275 non-null float64
longitude                       90275 non-null float64
lotsizesquarefeet               80125 non-null float64
poolcnt                         17901 non-null float64
poolsizesum                     969 non-null float64
pooltypeid10                    1161 non-null float64
pooltypeid2                     1204 non-null float64
pooltypeid7                     16697 non-null float64
propertycountylandusecode       90274 non-null object
propertylandusetypeid           90275 non-null float64
propertyzoningdesc              58313 non-null object
rawcensustractandblock          90275 non-null float64
regionidcity                    88472 non-null float64
regionidcounty                  90275 non-null float64
regionidneighborhood            36012 non-null float64
regionidzip                     90240 non-null float64
roomcnt                         90275 non-null float64
storytypeid                     43 non-null float64
threequarterbathnbr             12009 non-null float64
typeconstructiontypeid          299 non-null float64
unitcnt                         58353 non-null float64
yardbuildingsqft17              2646 non-null float64
yardbuildingsqft26              95 non-null float64
yearbuilt                       89519 non-null float64
numberofstories                 20570 non-null float64
fireplaceflag                   222 non-null object
structuretaxvaluedollarcnt      89895 non-null float64
taxvaluedollarcnt               90274 non-null float64
assessmentyear                  90275 non-null float64
landtaxvaluedollarcnt           90274 non-null float64
taxamount                       90269 non-null float64
taxdelinquencyflag              1783 non-null object
taxdelinquencyyear              1783 non-null float64
censustractandblock             89670 non-null float64
logerror                        90811 non-null float64
transactiondate                 90811 non-null object
dtypes: float64(53), int64(1), object(6)
memory usage: 42.3+ MB

In [40]:
dfMerged2 = dfMerged2.fillna(-1)

In [16]:
dfMerged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90811 entries, 0 to 90810
Data columns (total 60 columns):
parcelid                        90811 non-null int64
airconditioningtypeid           90811 non-null float64
architecturalstyletypeid        90811 non-null float64
basementsqft                    90811 non-null float64
bathroomcnt                     90811 non-null float64
bedroomcnt                      90811 non-null float64
buildingclasstypeid             90811 non-null float64
buildingqualitytypeid           90811 non-null float64
calculatedbathnbr               90811 non-null float64
decktypeid                      90811 non-null float64
finishedfloor1squarefeet        90811 non-null float64
calculatedfinishedsquarefeet    90811 non-null float64
finishedsquarefeet12            90811 non-null float64
finishedsquarefeet13            90811 non-null float64
finishedsquarefeet15            90811 non-null float64
finishedsquarefeet50            90811 non-null float64
finishedsquarefeet6             90811 non-null float64
fips                            90811 non-null float64
fireplacecnt                    90811 non-null float64
fullbathcnt                     90811 non-null float64
garagecarcnt                    90811 non-null float64
garagetotalsqft                 90811 non-null float64
hashottuborspa                  90811 non-null object
heatingorsystemtypeid           90811 non-null float64
latitude                        90811 non-null float64
longitude                       90811 non-null float64
lotsizesquarefeet               90811 non-null float64
poolcnt                         90811 non-null float64
poolsizesum                     90811 non-null float64
pooltypeid10                    90811 non-null float64
pooltypeid2                     90811 non-null float64
pooltypeid7                     90811 non-null float64
propertycountylandusecode       90811 non-null object
propertylandusetypeid           90811 non-null float64
propertyzoningdesc              90811 non-null object
rawcensustractandblock          90811 non-null float64
regionidcity                    90811 non-null float64
regionidcounty                  90811 non-null float64
regionidneighborhood            90811 non-null float64
regionidzip                     90811 non-null float64
roomcnt                         90811 non-null float64
storytypeid                     90811 non-null float64
threequarterbathnbr             90811 non-null float64
typeconstructiontypeid          90811 non-null float64
unitcnt                         90811 non-null float64
yardbuildingsqft17              90811 non-null float64
yardbuildingsqft26              90811 non-null float64
yearbuilt                       90811 non-null float64
numberofstories                 90811 non-null float64
fireplaceflag                   90811 non-null object
structuretaxvaluedollarcnt      90811 non-null float64
taxvaluedollarcnt               90811 non-null float64
assessmentyear                  90811 non-null float64
landtaxvaluedollarcnt           90811 non-null float64
taxamount                       90811 non-null float64
taxdelinquencyflag              90811 non-null object
taxdelinquencyyear              90811 non-null float64
censustractandblock             90811 non-null float64
logerror                        90811 non-null float64
transactiondate                 90811 non-null object
dtypes: float64(53), int64(1), object(6)
memory usage: 42.3+ MB

In [17]:
colObjNames = list(dfMerged.select_dtypes(include=['object']).columns)

In [18]:
colObjNames

['hashottuborspa',
 'propertycountylandusecode',
 'propertyzoningdesc',
 'fireplaceflag',
 'taxdelinquencyflag',
 'transactiondate']

In [41]:
for s in colObjNames:
    dfMerged2[s] = dfMerged2[s].astype('category').cat.codes.astype(float)

In [54]:
dfMerged2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90811 entries, 0 to 90810
Data columns (total 60 columns):
parcelid                        90811 non-null int64
airconditioningtypeid           90811 non-null float64
architecturalstyletypeid        90811 non-null float64
basementsqft                    90811 non-null float64
bathroomcnt                     90811 non-null float64
bedroomcnt                      90811 non-null float64
buildingclasstypeid             90811 non-null float64
buildingqualitytypeid           90811 non-null float64
calculatedbathnbr               90811 non-null float64
decktypeid                      90811 non-null float64
finishedfloor1squarefeet        90811 non-null float64
calculatedfinishedsquarefeet    90811 non-null float64
finishedsquarefeet12            90811 non-null float64
finishedsquarefeet13            90811 non-null float64
finishedsquarefeet15            90811 non-null float64
finishedsquarefeet50            90811 non-null float64
finishedsquarefeet6             90811 non-null float64
fips                            90811 non-null float64
fireplacecnt                    90811 non-null float64
fullbathcnt                     90811 non-null float64
garagecarcnt                    90811 non-null float64
garagetotalsqft                 90811 non-null float64
hashottuborspa                  90811 non-null float64
heatingorsystemtypeid           90811 non-null float64
latitude                        90811 non-null float64
longitude                       90811 non-null float64
lotsizesquarefeet               90811 non-null float64
poolcnt                         90811 non-null float64
poolsizesum                     90811 non-null float64
pooltypeid10                    90811 non-null float64
pooltypeid2                     90811 non-null float64
pooltypeid7                     90811 non-null float64
propertycountylandusecode       90811 non-null float64
propertylandusetypeid           90811 non-null float64
propertyzoningdesc              90811 non-null float64
rawcensustractandblock          90811 non-null float64
regionidcity                    90811 non-null float64
regionidcounty                  90811 non-null float64
regionidneighborhood            90811 non-null float64
regionidzip                     90811 non-null float64
roomcnt                         90811 non-null float64
storytypeid                     90811 non-null float64
threequarterbathnbr             90811 non-null float64
typeconstructiontypeid          90811 non-null float64
unitcnt                         90811 non-null float64
yardbuildingsqft17              90811 non-null float64
yardbuildingsqft26              90811 non-null float64
yearbuilt                       90811 non-null float64
numberofstories                 90811 non-null float64
fireplaceflag                   90811 non-null float64
structuretaxvaluedollarcnt      90811 non-null float64
taxvaluedollarcnt               90811 non-null float64
assessmentyear                  90811 non-null float64
landtaxvaluedollarcnt           90811 non-null float64
taxamount                       90811 non-null float64
taxdelinquencyflag              90811 non-null float64
taxdelinquencyyear              90811 non-null float64
censustractandblock             90811 non-null float64
logerror                        90811 non-null float64
transactiondate                 90811 non-null float64
dtypes: float64(59), int64(1)
memory usage: 42.3 MB

In [22]:
logErrors = dfMerged.logerror.values

In [23]:
transactiondateTestIds = dfMerged.transactiondate.values

In [25]:
parcelIds = dfMerged.parcelid.values

In [26]:
import xgboost as xgb

In [27]:
params = {}

In [44]:
drop_var = ['parcelid', 'logerror']
dfTestData = dfTestData.drop(drop_var, axis = 1)

In [29]:
trainMatrix = xgb.DMatrix(dfMerged.as_matrix(), label = logErrors)

In [32]:
simpMod = xgb.train(params, trainMatrix, 300)

In [34]:
dfTest = pd.read_csv('sample_submission.csv')

In [35]:
testIds = dfTest.ParcelId.values

In [45]:
dfTestData = dfMerged2.loc[dfMerged2['parcelid'].isin(testIds)]

In [46]:
dfTestData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90811 entries, 0 to 90810
Data columns (total 60 columns):
parcelid                        90811 non-null int64
airconditioningtypeid           90811 non-null float64
architecturalstyletypeid        90811 non-null float64
basementsqft                    90811 non-null float64
bathroomcnt                     90811 non-null float64
bedroomcnt                      90811 non-null float64
buildingclasstypeid             90811 non-null float64
buildingqualitytypeid           90811 non-null float64
calculatedbathnbr               90811 non-null float64
decktypeid                      90811 non-null float64
finishedfloor1squarefeet        90811 non-null float64
calculatedfinishedsquarefeet    90811 non-null float64
finishedsquarefeet12            90811 non-null float64
finishedsquarefeet13            90811 non-null float64
finishedsquarefeet15            90811 non-null float64
finishedsquarefeet50            90811 non-null float64
finishedsquarefeet6             90811 non-null float64
fips                            90811 non-null float64
fireplacecnt                    90811 non-null float64
fullbathcnt                     90811 non-null float64
garagecarcnt                    90811 non-null float64
garagetotalsqft                 90811 non-null float64
hashottuborspa                  90811 non-null float64
heatingorsystemtypeid           90811 non-null float64
latitude                        90811 non-null float64
longitude                       90811 non-null float64
lotsizesquarefeet               90811 non-null float64
poolcnt                         90811 non-null float64
poolsizesum                     90811 non-null float64
pooltypeid10                    90811 non-null float64
pooltypeid2                     90811 non-null float64
pooltypeid7                     90811 non-null float64
propertycountylandusecode       90811 non-null float64
propertylandusetypeid           90811 non-null float64
propertyzoningdesc              90811 non-null float64
rawcensustractandblock          90811 non-null float64
regionidcity                    90811 non-null float64
regionidcounty                  90811 non-null float64
regionidneighborhood            90811 non-null float64
regionidzip                     90811 non-null float64
roomcnt                         90811 non-null float64
storytypeid                     90811 non-null float64
threequarterbathnbr             90811 non-null float64
typeconstructiontypeid          90811 non-null float64
unitcnt                         90811 non-null float64
yardbuildingsqft17              90811 non-null float64
yardbuildingsqft26              90811 non-null float64
yearbuilt                       90811 non-null float64
numberofstories                 90811 non-null float64
fireplaceflag                   90811 non-null float64
structuretaxvaluedollarcnt      90811 non-null float64
taxvaluedollarcnt               90811 non-null float64
assessmentyear                  90811 non-null float64
landtaxvaluedollarcnt           90811 non-null float64
taxamount                       90811 non-null float64
taxdelinquencyflag              90811 non-null float64
taxdelinquencyyear              90811 non-null float64
censustractandblock             90811 non-null float64
logerror                        90811 non-null float64
transactiondate                 90811 non-null float64
dtypes: float64(59), int64(1)
memory usage: 42.3 MB

In [48]:
logErrorTestLabels = dfTestData.logerror.values

In [49]:
parcelIdTestLabels = dfTestData.parcelid.values

In [56]:
validateMatrix = xgb.DMatrix(dfTestData.as_matrix(), label=logErrorTestLabels)

In [57]:
pred = simpMod.predict(validateMatrix)

In [55]:
dfTestData = dfTestData.drop(drop_var, axis=1)

In [58]:
print(pred)

[ 0.02338299 -0.01152951 -0.0056091  ..., -0.09166956 -0.1170013
 -0.00370824]

In [59]:
transacdateTestLabels = dfTestData.transactiondate.values

In [61]:
len(np.unique(parcelIdTestLabels))

90682

In [63]:
submissionPreProcc = np.column_stack((parcelIdTestLabels, logErrorTestLabels, transacdateTestLabels))

In [64]:
np.savetxt("submissionPreProcess.csv", submissionPreProcc, delimiter = ",")